@import "tailwindcss";

body {
  background-color: #000;
  color: #f3f4f6;
  /* cinza-claro */
}

.gradient-text {
  background: linear-gradient(90deg, #c084fc, #9333ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}